<div class="container">
    <nav class="article">
            <article>
                <ul class="row">
                  <li class="col-sm-6 col-md-4"><%= image_tag '300x300_01.jpg' ,:size => "300x300" %></li>
                  <li class="col-sm-6 col-md-4"><%= image_tag '300x300_02.jpg' ,:size => "300x300" %></li>
                  <li class="col-sm-6 col-md-4"><%= image_tag '300x300_03.jpg' ,:size => "300x300" %></li>
            </article>
            <article>
                <ul class="row">
                  <li class="col-sm-6 col-md-4"><%= image_tag '300x300_04.jpg' ,:size => "300x300" %></li>
                  <li class="col-sm-6 col-md-4"><%= image_tag '300x300_05.jpg' ,:size => "300x300" %></li>
                  <li class="col-sm-6 col-md-4"><%= image_tag '300x300_06.jpg' ,:size => "300x300" %></li>
                </ul>
            </article>
        </ul>
    </nav>
</div>
