<%= form_with(model: @contact ,local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>エラーがあります。</h2>
     <ul>
       <% @contact.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
       <% end %>
     </ul>
    </div>
  <% end %>

<div class="page-header">
  <h1>お問い合わせ</h1>
</div>

<table class="table">
  <div class="contact_title">
    <%= form.label :お名前 %><span class="text-danger">（必須）</span>
    <%= form.text_field :Name %>
  </div>
  <div class="contact_title">
    <%= form.label :メールアドレス %><span class="text-danger">（必須）</span>
    <%= form.text_field :Email %>
  </div>
  <div class="contact_title">
    <%= form.label :お問い合わせ内容 %>
    <%= form.text_field :Content %>
  </div>
</table>
  <%= form.submit '送信', class: 'btn btn-warning' %>

<% end %>

